/* =============================================*/
/* CSS BY developer: luisls1717@gmail.com 		*/
/* colors frame 								*/
/* primary: 		#00a7e0 					*/
/* secondary: 		#2a3991 					*/
/* font base color: #484848  					*/
/* background selected : #f7f7f7;				*/
/* =============================================*/
body{
    font-family: 'Leelawade', 'Raleway', 'sans-serif';
    color: #484848;
}
a:hover, a:focus, a:active{
	text-decoration: none; 
}
@font-face {
    font-family: 'Leelawade';
    src: url("../fonts/leelawad.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Leelawade';
    src: url("../fonts/leelawdb.ttf");
    font-weight: 800;
}

.container-full{
    margin: 0 auto;
    width: 86%;
}

/* buttons */

.btn{
	position: relative;
	text-align: center;
	/*border: 2px solid;*/
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.btn-rounded{
    border-radius: 12px 0 12px 0;
}
.btn.primary{
    background-color: #3bafbf; /* #0089c3; */
    color: white;
}
.btn.primary:hover{
    background-color: #00a8bf;
}

.btn span{
	z-index: 2;
	display: block;
    padding: 0 15px;
    position: relative;
}
.btn.btn-primary{
	color: #fff;
	background: rgb(0,66,129);
	border: unset;
}
.btn-reserva{
    width: auto;
    background-color: #00488d;
    color: white;
    border-radius: 5px;
    letter-spacing: 0.5px;
}
.btn-reserva:hover{
    background-color: #739525;
    color: white;
}
.btn-menu-lateral{
    background-color: rgba(0,0,0,0);
    border: 2px solid #00488d;
    font-size: 16px;
    height: 32px;
    padding: 0;
    width: 40px;
    border-radius: 5px;
    margin-left: 10px;
    color: #00488d;
    cursor: hand;
    cursor: pointer;
}
.btn-menu-lateral:hover{
    background-color: #00488d;
    color: white;
    border: 2px solid #00488d;
}
header.box-header{
	position: absolute;
	right: 0;
    top: 0;
    z-index: 10;
    left:0;
}
/* HEADER LATERAL */
.box-menu-lateral{
    width: 20%;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 220;
    background-color: #0033a0;
    box-shadow: -4px -1px 10px 2px rgba(70, 70, 70, 0.34);
    -webkit-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -moz-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -o-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -ms-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
}
.box-menu-lateral .content-header{
    margin: 20px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.box-menu-lateral .content-header .close-icon{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    border-radius: 20px 0;
    position: relative;
    cursor: hand;
    cursor: pointer;
    transition-property: color,background-color,border-color;
    transition-duration: .35s;
    transition-timing-function: linear;
}
.box-menu-lateral .content-header .close-icon:hover{
    background-color: white;
}
.box-menu-lateral .content-header .close-icon:hover .line{
    border-bottom: 1px solid #0033a0;
}
.box-menu-lateral .content-header .close-icon .line{
    width: 28px;
    height: 36px;
    border-bottom: 1px solid white;
    position: absolute;
}
.box-menu-lateral .content-header .close-icon .line.line-x{
    -webkit-transform: translateY(-10px) translateX(16px) rotate(45deg);
    transform: translateY(-10px) translateX(16px) rotate(45deg);
}
.box-menu-lateral .content-header .close-icon .line.line-y{
    -webkit-transform: translateY(-10px) translateX(-8px) rotate(-45deg);
    transform: translateY(-10px) translateX(-8px) rotate(-45deg);
}
.box-menu-lateral.out{
    /*visibility: hidden;*/
    right: -20%;
}
.box-menu-lateral.in{
    right: 0;
}
.box-menu-lateral img{
    width: 140px;
}
.box-menu-lateral ul.content-list{
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}
.box-menu-lateral ul.content-list li:nth-child(1){
    border-top: 1px solid rgba(224, 224, 224, 0.18);
}
.box-menu-lateral ul.content-list li{
    cursor: hand;
    cursor: pointer;
    padding: 10px 24px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.18);
    transition-property: color,background-color,border-color;
    transition-duration: .35s;
    transition-timing-function: linear;
    height: 60px;
    line-height: 2.6;
    font-size: 15px;
}
.box-menu-lateral ul.content-list li:hover{
    /*background-color: #21b8c6;*/
    background-color: #008ac4;
}
/* END */

/* HEADER SECONDARY */ 
.box-header .box-header-secondary{
	float: right;
    display: flex;
    padding: 8px;
}
.box-header .box-header-secondary > div{
    display: inline-block;
}
.box-header .box-header-primary{
	
}
.box-header .box-header-secondary .box-header-redes .box-item{
    display: inline-block;
    margin-right: 5px;
}
.box-header .box-header-secondary .box-header-redes a.btn{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}
.box-header .box-header-secondary .box-header-redes a.btn:hover {
    opacity: .8;
}
.box-header .box-header-secondary .box-header-redes a.btn.btn-fb{
    color: #3b5998;
}
.box-header .box-header-secondary .box-header-redes a.btn.btn-yt{
    color: #cd201f;
}
.box-header .box-header-secondary .box-header-redes a.btn.btn-ig{
    color: #3f729b;
}
.box-header .box-header-secondary .box-header-redes a.btn svg{
    font-size: 18px;
}
/*.box-header .box-header-secondary .box-header-lema{
	float: left;
    background: #00a7e0;
    font-size: 16px;
    padding: 9px 20px;
    margin: 0 0 0 -20px;
    font-weight: 300;
    position: relative;
    line-height: 31px; 
    text-align: center;
    width: 38%;
    white-space: nowrap;
}*/
.box-header .box-header-secondary .box-header-info{
	margin-right: 28px;
    color: #21b8c6;
    font-family: 'calibri';
    font-weight: 100;
}
.box-header .box-header-secondary .box-header-info a{
    color: #21b8c6;
}
.box-header .box-header-secondary .box-header-redes{
    margin-right: 28px;
}
.box-header .box-header-secondary .box-header-info .box-item{
    float: left;
    font-size: 14px;
    margin: 8px 10px;
    position: relative;
    display: flex;
}
.box-header .box-header-secondary .box-header-info .box-item.box-telefono{
    border-right: 1px solid;
    padding-right: 16px;
}
.box-header .box-header-secondary .box-header-info .box-item.box-rs{
    right: 2%;
    position: absolute;
}

.box-header .box-header-secondary .box-header-info .box-item .box-icon{
	padding-right: 6px;
}

/* HEADER PRIMARY */

.box-header .box-header-primary{
	float: left;
	width: 100%;
	display: flex;
    align-items: center;
}
.box-header .box-header-primary .box-logo{
    flex-grow: 1;
}
.box-header .box-header-primary .box-logo img{
	height: 88px;
}
.box-header .box-header-primary .box-menu{
	float: right;
}

.box-header .box-header-primary .box-menu{
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
}
.box-header .box-header-primary .box-nav-menu{
	width: 100%;
}
.box-header .box-header-primary .box-nav-menu ul{
	width: 100%;
    float: left;
    margin: 0;
    list-style: none;
    line-height: inherit;
}
.box-header .box-header-primary .box-nav-menu ul li{
	list-style-type: none;
}
.box-header .box-header-primary .box-nav-menu ul > li{
	float: left;
    padding-left: 40px;
    position: relative;
    /*display: flex;*/
    align-items: center;
}
.box-header .box-header-primary .box-item a{
    color: #00488d; 
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 60px;
    border-top: 3px solid transparent;
    /*padding-top: 14px;
    padding-bottom: 14px;*/
}
/*sticked menu*/
.box-header.sticky-fixed{
    position: fixed;
    background-color: rgba(255,255,255,.925);
    box-shadow: rgba(0,0,0,.117647) 0 1px 3px;
}
.box-header.sticky-fixed .box-content-header-secondary{
    display: none;
}
.box-header.sticky-fixed .box-logo img{
    height: 60px;
    margin: 8px 0;
}

.box-header .box-header-primary .box-nav-menu ul li a:hover{
    color: #21b8c6;
    font-weight: 400;
}
.box-header .box-header-primary .box-nav-menu ul.box-list-menu li a:hover {
    border-color: #21b8c6;
    color: #21b8c6;
}
.box-header .box-header-primary .box-nav-menu ul.box-list-menu > li a > img{
    height: 12px;
    padding-left: 4px;
}


.box-header .box-header-primary .box-nav-menu ul.box-list-menu > li:hover .box-list-submenu{ 
	padding: 0;
	/*top: 100%;*/
    opacity: 1;
    visibility: visible;
}
.box-header .box-header-primary .box-nav-menu ul.box-list-menu li .box-list-submenu li{
    background-color: #21b8c6;
    padding: 0;
    /*width: 180px;*/
}
.box-header .box-header-primary .box-nav-menu ul.box-list-menu li .box-list-submenu li a{
    padding: 14px 20px;
    border-top: unset;
    color: white;
}
.box-header .box-header-primary .box-nav-menu ul.box-list-menu li .box-list-submenu li:hover a{
    color: #21b8c6;
}
.box-header .box-header-primary .box-list-submenu{
	padding: 4px 12px;
}
.box-header .box-header-primary .box-item.-active a{
    color: #21b8c6;
}
.box-header .box-header-primary .box-item .box-list-submenu{
	top: 60px;
	left: 0;
	opacity: 0;
	width: 200px;
	z-index: 3;
	font-size: 14px;
	background: #fff;
	position: absolute;
	visibility: hidden;
	line-height: inherit;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.10);

	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.box-header .box-header-primary .box-menu .box-item .box-list-submenu li{
	width: 100%;
	float: left;
	line-height: inherit;
	border-bottom: 1px solid #eaeaea;
}
.box-header .box-header-primary .box-menu .box-item .box-list-submenu li:hover{
	background-color: #f7f7f7;
}
.box-header .box-header-primary .box-menu .box-item .box-list-submenu li a{
	padding: 4px 12px; 
}

.box-header .box-nav-menu li a:after{ 
	/*-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;*/
	/*width: 0;
	top: 100%;
    left: 0;
    content: '';
    position: absolute;
    font-size: inherit;
    background: #00a7e0;
    line-height: inherit;
    height: 1px;*/
}

/*.box-header .box-nav-menu li.-active > a:after{
    width: 100%;
}
.box-header .box-nav-menu li:hover > a:after{ 
	width: 100%;
}
.box-header .box-nav-menu .box-item .box-list-submenu li a:after{
	width: 3px;
    height: 0;
    background: #00a7e0;
}
.box-header .box-nav-menu .box-item .box-list-submenu li:hover > a:after{
	height: 100%;
	top: 0;
}
*/
/* GALERIA */

.section-galeria .owl-carousel figure img{
    max-width: 100%;
    height: 100%;
}
.section-galeria .owl-carousel figure figcaption{
	top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    /*padding: 132px 0 0;*/
    padding: 50px 0 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.section-galeria .owl-carousel .owl-controls .owl-buttons div{ 
	top: 50%;
    padding: 0;
    opacity: 1;
    width: 70px;
    height: 70px;
    color: #515151;
    display: block;
    margin: -35px 0 0;
    line-height: 70px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255,255,255, .5);
    border: unset;
    /*background: transparent;
    border: 2px solid #515151;*/

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.section-galeria .owl-carousel .owl-controls .owl-buttons div:hover{
	background-color: #2a3991; /* #00a7e0 */
	color: white;
	border: 2px solid #2a3991;
}
.section-galeria .owl-carousel .owl-controls .owl-buttons div.owl-next{
	right: 20px;
}
.section-galeria .owl-carousel .owl-controls .owl-buttons div.owl-prev{
	left: 20px;
}
.section-galeria .owl-carousel .owl-controls .owl-buttons div svg{
	display: block;
    font-size: 30px;
    line-height: 66px;
    text-align: center;
}
/*.section-galeria .-contenido{ 
	padding: 15px;
}*/
/*.section-galeria .box-style-one .-contenido{
	background-color: rgba(255,255,255,0.55);
}*/
/*.section-galeria .item-1 h1, .section-galeria .item-2 h1{
	font-size: 30px;
    text-transform: uppercase;
    margin: 0;
}
.section-galeria .item-1 h2, .section-galeria .item-2 h2{
	text-transform: uppercase;
    font-size: 70px;
    margin-top: 0;
    color: #00a7e0;
}

.section-galeria .item-1 .box-description p, .section-galeria .item-2 .box-description p{
	margin: 30px 0; 
	font-size: 16px;
}*/
.section-galeria .box-galeria-content{
    height: 100%;
    position: relative;
}
.section-galeria .box-image-lateral{
    position: absolute;
    right: 0;
    bottom: 0;
}
.section-galeria .box-text-lateral{
    position: absolute;
    width: 54%;
    text-align: left;
    bottom: 33%;
    margin-left: 5%;
}
.section-galeria .box-text-lateral h1{
    font-size: 70px;
    color: #00488d;
    font-family: 'Leelawade', 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    margin-bottom: 24px;
}
.section-galeria .box-text-lateral p{
    font-size: 24px;
    /*line-height: 36px;*/
    color: #739525;
    font-weight: 300;
    font-family: 'Raleway';
}
.section-galeria .box-text-lateral .box-actions{
    margin-top: 40px;
}
.section-galeria .box-text-lateral .box-actions > a{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    padding: 17px 40px;
    line-height: 21px;
    font-size: 18px;
    border-radius: 12px 0 12px 0;
}

/* ESPECIALIDADES */
.section-especialidades{
    margin: 40px 0;
}
.section-especialidades .box-title{
    text-align: center;
    color: #0086ad;
    padding-bottom: 20px;
}
.section-especialidades .box-title h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.section-especialidades .box-title p{
    font-size: 20px;
}
.section-especialidades .box-content{
    margin-top: 40px;
}
.section-especialidades .box-especialidad{
    text-align: center;
}
.section-especialidades .box-especialidad .box-img{
    /*margin-bottom: 20px;*/
    height: 160px;
}
.section-especialidades .box-especialidad .box-img img{
    width: 138px;
    height: 140px;
}
.section-especialidades .box-especialidad .box-nombre{
    color: #0085b2;
}
.section-especialidades .box-content .box-action{
    text-align: center;
    margin-top: 50px;
}
.section-especialidades .box-content .box-action button{
    padding: 12px 20px;
    font-size: 16px;
}
.section-especialidades .owl-buttons .owl-prev{
    position: absolute;
    left: -30px;
    top: 50%;
}
.section-especialidades .owl-buttons .owl-next{
    position: absolute;
    right: -30px;
    top: 50%;
}
.section-especialidades .owl-buttons svg{
    font-size: 45px;
    color: #0085b2;
}
/*ANGLE SEPARATOR*/
.angle-separator-content{
    position: relative;
}
.angle-separator-up{
    height: 70px;
    position: absolute;
    width: 100%;
    top: -70px;
    background-color: white;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}
.angle-separator-bottom{
    height: 70px;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: white;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    z-index: 1;
}
.angle-separator-bottom.gray, .angle-separator-up.gray{
    background-color: rgba(232,232,232);
}
/*.page{ 
    margin-top: 180px;
}*/
/* SECTION CONOCENOS */
.section-conocenos .box-conocenos{
    display: flex;
    align-items: center;
    position: relative;
    background-color: #00498d;
    color: white;
    overflow: hidden;
}
.section-conocenos .box-conocenos .box-text{
    padding: 0 180px;
    font-size: 20px;
    font-weight: 100;
    width: 50%;
}
.section-conocenos .box-conocenos .box-text h2{
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}
.section-conocenos .box-conocenos .box-image{
    width: 50%;
}
.section-conocenos .box-conocenos .btn{
    background-color: white;
    font-weight: 800;
    color: #00498d;
    margin: auto;
    display: block;
    padding: 10px 25px;
    margin-top: 30px;
}
/* SECTION PORQUE ELEGIRNOS */
.section-porque-elegirnos{
    /*background-color: rgba(232,232,232);*/
}
.section-porque-elegirnos .box-header{
    text-align: center;
    margin-bottom: 80px;
}
.section-porque-elegirnos .box-header h2{
    margin-top: 0;
    font-size: 40px;
    font-weight: 800;
    color: #0085b2;
}
.section-porque-elegirnos .box-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 120px;
}
.section-porque-elegirnos .box-content .box-item .box-item-content:hover{
    background-color: #0085b2;
}
.section-porque-elegirnos .box-content .box-item .box-item-content:hover .box-title{
    color: white;
}
.section-porque-elegirnos .box-content .box-item{
    text-align: center;
    width: 30%;
    margin-bottom: 50px;
}
.section-porque-elegirnos .box-content .box-item .box-title{
    color: #0085b2;
    font-size: 15px;
    line-height: 1.3;
    margin-top: 12px;
}
.section-porque-elegirnos .box-content .box-item .box-item-content{
    display: inline-block;
    border-radius: 12px 0;
    border: 4px solid #0085b2;
    padding: 20px 30px;
    width: 228px;
    height: 228px;
    position: relative;
}
.section-porque-elegirnos .box-image img{
    width: 85px;
}
.section-porque-elegirnos .box-content .box-item .box-action{
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
}
.section-porque-elegirnos .box-content .box-item .box-action a{
    background-color: #0085b2;
    color: white;
    padding: 8px 20px;
}
.section-porque-elegirnos .box-content .box-item .box-item-content:hover .box-action a{
    background-color: white;
    color: #0085b2;
}
/* DETALLE DE SERVICIO */ 

.page .box-breadcrumb{
    background-image: url('../images/services/detalle-servicio.jpg');
    height: 160px; 
    background-position: center;
    display: flex;
    align-items: center;
}
.page > .box-content{
    padding-top: 8%;
    padding-bottom: 8%;
}

.page .box-breadcrumb .text-breadcrumb{
    font-size: 24px;
    padding: 12px;
    font-weight: 300;
    display: inline;
    background-color: rgba(255,255,255,0.45);
}
.page .box-info{
    display: flex;
    align-items: center;
}
.page .box-info-text{
    font-size: 18px;
    font-weight: 300;
    padding: 28px 48px;
}
.page .box-info-text h1{
    margin-bottom: 30px;
    margin-top: 0;
}
.page .box-info-image img{
    width: 480px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: white;
}

.box-maps > div{ 
    height: 320px;
}


.page.page-detalle-servicio h1{ 
    text-transform: uppercase;    
} 

/* CLIENTES */
.page.page-cliente > .box-content{ 
    padding-top: 5%;
    padding-bottom: 5%;
} 
.page.page-cliente h1{
    text-align: center;
    padding-bottom: 28px;
}
.page.page-cliente .box-client{
    margin-bottom: 15px;
}
.page.page-cliente .box-client .box-img{ 
    text-align: center;
    border: 1px solid #e0e0e0;
    height: 200px;
    display: flex;
}
.page.page-cliente .box-client .box-img img{
    margin: auto;
}

/* CONTACTO */
.page-contacto .box-info-contacto .box-item{
    margin-bottom: 20px;
}
.page.page-contacto > .box-content{ 
    padding-top: 5%;
    padding-bottom: 5%;
} 
.page.page-contacto .box-formulario button{
    margin: auto;
    display: block;
    width: 200px;
    height: 45px;
    background-color: #2a3991;
    color: white;
}
.page-contacto .box-info-contacto .box-item h4{ 
    margin: 0;
    padding-bottom: 5px;
    color: #00a7e0;
    text-decoration: underline;
    font-weight: bold;
}
.page-contacto .box-info-contacto .box-item .box-item-value, .page-contacto .box-info-contacto .box-item .box-item-value a{
    font-size: 20px;
    color: #2a3991;;
}
.page-contacto .box-content > .row{
    display: flex;
    align-items: center;
}
.page-contacto .alert{
    text-align: center;
    font-weight: bold;
}
.page-contacto form{
    padding: 20px;
    border: 1px solid #e0e0e0;
    background-color: #00a7e0;
    color: white;
}

.page-contacto .box-content-telefono{
    display: flex;
    align-items: center;
}
.page-contacto .box-content-telefono .phone-detail{
    padding-left: 6px;
    text-align: center;
}
.page-contacto .box-item svg{
    margin-right: 10px;
}

/* FOOTER */
.section-footer{ 
    background-color: #29282e;    
    padding: 50px 150px;
    color: #c3c1ca;
}
.section-footer a{
    color: #c3c1ca; 
}
.section-footer > .box-content{
    display: flex;
}
.section-footer .box-content .box-resenia{
    width: 40%;
    padding-right: 30px;
}
.section-footer .box-content .box-resenia .box-logo{
    padding-bottom: 8px;
}
.section-footer .box-content .box-resenia .box-description{
    padding-bottom: 8px;
}
.section-footer .box-content .box-mapa-sitio{
    width: 30%;
    padding-left: 8%;
}
.section-footer .box-content .box-contacto{
    width: 30%;
}
.section-footer .box-content .box-title{
    color: #00a7e0;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.section-footer .box-redes-sociales svg{
    font-size: 30px;
}
.section-footer .box-contacto > .box-content > div{
    line-height: 2.4;
}
.section-footer .box-contacto svg{
    font-size: 18px;
    margin-right: 8px;
}
.section-footer .box-mapa-sitio ul li{
    line-height: 1.8;
}

.section-footer .box-mapa-sitio ul li a{
    color: #c3c1ca;
}
.section-post-footer{
    padding: 16px 150px;
    background-color: #212025; 
    display: flex;
    color: white;
}

.section-post-footer .box-autor{
    flex-grow: 1;
    text-align: right;
}