/* =============================================*/
/* CSS BY developer: luisls1717@gmail.com 		*/
/* =============================================*/

@media (max-width: 1199px){ /*1199 a 993*/
	/* HEADER PRIMARY */
	.box-header .box-header-primary .box-logo img{
		height: 56px;
	}
	.box-header .box-header-primary .box-item a{
		font-size: 14px;
	}
	.box-header .box-header-primary .box-nav-menu ul > li{
		padding-left: 26px;
	}
	.box-header .box-menu-resp .btn{
		padding: 4px 10px;
	}
	.btn-menu-lateral{
		height: 28px;
	}
	.box-header .box-header-secondary .box-header-redes a.btn{
		height: 32px;
    	width: 32px;
	}
	/* PAGE: HOME; */
	.page-home .section-galeria .box-text-lateral h1{
		font-size: 55px;
	}
	.page-home .section-galeria .box-text-lateral p{
		font-size: 20px;
	}
	.page-home .section-galeria .owl-carousel figure img.figura{
    	width: 450px;
	}
	.page-home .section-galeria .box-image-lateral{
		right: 0;
    	bottom: 3em;
	}
	.page-home .section-galeria .box-text-lateral{
		margin-left: 0;
	}
	.page-home .section-conocenos .box-conocenos .box-images .box-image.image-2{
		width: 85%;
	}
	.page-home .section-porque-elegirnos .box-content{
		margin: 0;
	}
	.box-menu-lateral {
    	width: 36%;
	}
	.box-menu-lateral.out{
		right: -36%;
	}
	/* PAGE ESPECIALIDAD */
	/* PAGE FICHA SERVICIOS */
	.page-fichserv .section-detalle .box-description .box-icono .line-dashed{
		width: 165%;
	}
	.page-fichserv .section-detalle .box-description{
		width: 90%;
	}
	.page-fichserv .section-detalle .box-como-acceder{
		padding-top: 4rem;
	}
	.page-fichserv .section-mas-servicios .owl-buttons .owl-prev{
		left: 0;
	}
	.page-fichserv .section-mas-servicios .owl-buttons .owl-next{
		right: 0;
	}
	.page-fichserv .section-portada .texto-portada h1{
		font-size: 48px;
	}
	/* PAGE CONTACTANOS */
	.page-contacto .section-contacto{
		padding: 4rem;
	}
	/* PAGE BLOG */
	.page-blog .section-listentries .item-blog{
		width: 78%;
    	margin: auto;
	}
	.page-blog .section-listentries .pre-item{
		margin-bottom: 5rem;
	}
	.page-blog .section-listentries .pre-item > a{
		overflow: hidden;
	    display: block;
	    width: 78%;
	    margin: auto;
	}
	/* PAGE BLOG DETALLE */
	.page-fichablog .section-interes .item-blog{
		width: 90%;
    	margin: auto;
    	padding: 0;
	}
	.page-fichablog .section-interes .pre-item{
		margin-bottom: 5rem;
	}
	.page-fichablog .section-interes .pre-item > a{
		overflow: hidden;
	    display: block;
	    width: 90%;
	    margin: auto;
	    
	}
	.page-fichablog .section-interes .item-blog-foot{
		padding: 0;
	}
	.page-fichablog .section-interes .item-blog .box-hovered{
		left: 0;
    	right: 0;
	}
	.page-fichablog .section-entrie .box-body{
		padding-left: 5rem;
	}
	.page-fichablog .section-entrie .box-interes-right{
		margin-left: 5rem;
	}
	.page-fichablog .section-entrie .box-header-entrie{
		padding: 0 6rem;
	}
	/* PAGE STAFF MEDICO */

}

@media (max-width: 992px){ /* 992 a 769*/
	.box-header .box-header-primary .box-logo img{
		/*height: 40px;*/
	}
	.page-home .section-conocenos .box-conocenos .box-images .box-image.image-2{
		width: 100%;
	}
	.box-menu-lateral ul.content-list li.hidden-desktop{
	    display: block;
	}
	.box-header .box-header-primary .box-menu{
		display: none;
	}
	.box-header .box-header-secondary{
		display: none;
	}
	.box-header .box-header-primary{
		margin-top: 1rem;
	}
	.box-header .box-header-primary .box-logo img{
		margin-top: 0;
	}
	.box-header .box-header-primary .box-menu-resp{
		display: flex;
		align-items: center;
	}
	.box-header .box-header-primary .box-menu-resp .box-telefono{
		padding-right: 16px;
	    font-size: 16px;
	    color: #004281;
	    display: flex;
    	align-items: center;
	}
	.box-header .box-header-primary .box-menu-resp .box-telefono .box-icon{
		margin-right: 5px;
	}
	.box-header .box-header-primary .box-menu-resp .btn-menu-lateral .svg-inline--fa{
		vertical-align: unset;
	}
	.page-home .section-galeria .box-text-lateral h1{
		font-size: 44px;
	}
	.page-home .section-galeria .box-text-lateral{
		/*bottom: 40%;*/
	}
	.page-home .section-galeria .owl-carousel figure > img{
		height: 680px;
	}
	.page-home .section-galeria .owl-carousel figure img.figura{
		width: 380px;
	}
	.page-home .section-galeria .box-image-lateral{
		bottom: 0;
	}
	.page-home .section-galeria .owl-carousel figure > img{
		max-width: inherit;
	}
	.page-home .section-conocenos .box-conocenos .box-images .box-hovered-center p{
		font-size: 20px;
		padding: 0 4rem;
	}
	.page-home .section-porque-elegirnos .box-content .box-item .box-item-content{
		width: 200px;
    	height: 230px;
	}
	.page-home .section-testimonio .box-item{
		width: 100%;
	}
	.section-footer{
		padding-bottom: 30px;
	}
	.section-footer .form-suscripcion{
		display: block;
	}
	.section-footer .box-suscripcion {
	    margin-bottom: 50px;
	    margin-left: 16px;
	    margin-right: 16px;
	}
	.section-footer .box-contacto > div{
		margin-top: 16px;
	}
	.section-post-footer {
    	padding: 16px 40px;
	}
	.box-menu-lateral {
    	width: 50%;
	}
	.box-menu-lateral.out{
		right: -50%;
	}
	/* PAGE ESPECIALIDAD */
	.page-esp .section-portada{
		margin-top: 76px;
	}
	.page-esp .section-especialidades .box-content{
		padding: 4%;
	}
	.page-esp .section-especialidades .box-filtros{
		padding: 0 4%;
	}
	.page-esp .section-portada .texto-portada{
		display: flex;
	    justify-content: center;
	    right: 0;
	    left: 0;
	}
	.page-esp .section-portada .texto-portada h1{
		font-size: 48px;
	    background-color: rgba(255,255,255,0.5);
	    padding: 4px 8px;
	    border-radius: 15px;
	}
	/* PAGE FICHA ESPECIALIDAD */
	.page-fichesp .section-portada{
		margin-top: 76px;
	}
	.page-fichesp .section-portada .texto-portada{
		display: flex;
	    justify-content: center;
	    right: 0;
	    left: 0;
	}
	.page-fichesp .section-portada .texto-portada h1{
		font-size: 48px;
	    background-color: rgba(255,255,255,0.5);
	    padding: 4px 8px;
	    border-radius: 15px;
	}
	.page-fichesp .section-describe .box-content-describe{
		display: block;
	}
	.page-fichesp .section-describe .box-content-describe .box-image-esp{
		margin-top: 4rem;
	}
	/* PAGE FICHA SERV */
	.page-fichserv .section-portada{
		margin-top: 76px;
	}
	.page-fichserv .section-portada .img-portada .bg-portada{
		height: 420px;
	}
	.page-fichserv .section-portada .texto-portada{
		top: 60%;
	}
	.page-fichserv .section-portada .texto-portada h1{
		font-size: 40px;
	}
	.page-fichserv .section-detalle .box-como-acceder{
		padding-top: 0;
	}
	.page-fichserv .section-detalle .box-description .box-icono .line-dashed{
		display: none;
	}
	.page-fichserv .section-detalle .box-description{
		flex-wrap: wrap;
		padding-top: 2rem;
    	padding-bottom: 2rem;
    	justify-content: center;
	}
	.page-fichserv .section-detalle .box-description .box-icono .box-icono-content{
		margin-bottom: 2rem;
	}
	.page-fichserv .section-detalle .box-description .box-letras{
		padding: 0 2rem;
	}
	.page-fichserv .section-detalle .box-como-acceder{
		width: 90%;
	}
	/* PAGE PROMOCIONES */
	.page-promocion .section-portada{
		margin-top: 76px;
	}
	.page-promocion .section-portada .texto-portada h1{
		font-size: 48px;
	}
	/* PAGE CONTACTANOS */
	.page-contacto .section-portada{
		margin-top: 76px;
	}
	.page-contacto .section-contacto .box-content-img{
		display: none;
	}
	.page-contacto .section-contacto .box-form{
		padding-left: 2rem;
	}
	/* PAGE BLOG */
	.page-blog .section-portada{
		margin-top: 76px;
	}
	.page-blog .section-portada .texto-portada h1{
		font-size: 35px;
	}
	.page-blog .section-listentries .item-blog img{
		border-radius: 120px 0;
	}
	.page-blog .section-listentries .item-blog{
		width: 90%;
	}
	.page-blog .section-listentries .pre-item > a{
		width: 90%;
	}
	.page-blog .section-portada .img-portada .bg-portada{
		height: 360px;
	}
	.page-blog .section-portada .action-portada a{
		width: 200px;
		display: block;
    	margin: auto;
	}
	.page-blog .section-portada .action-portada{
		left: 0;
    	right: 0;
	}
	/* PAGE FICHA BLOG */
	.page-fichablog .section-portada{
		margin-top: 76px;
	}
	.page-fichablog .section-entrie .box-header-entrie h1{
		font-size: 40px;
	}
	.page-fichablog .section-entrie .box-autor .box-info{
		height: 200px;
    	border-radius: 0 15px 15px 0;
        margin-left: -10rem;
        padding: 3.25rem 3.25rem 3.25rem 11rem;
        display: flex;
	    align-items: center;
	    flex-wrap: wrap;
	}
	.page-fichablog .section-entrie .box-autor .box-info h3{
		margin: 0;
	}
	.page-fichablog .section-entrie .box-interes-right{
		padding: 2rem 1rem;
	}
	.page-fichablog .section-entrie .box-interes-right iframe{
		width: 90%;
	}
	.page-fichablog .section-interes .item-blog-foot h4{
		font-size: 14px;
	}
	/*.page-fichablog .section-interes .item-blog{
		width: 100%;
	}
	.page-fichablog .section-interes .pre-item > a{
		width: 100%;
	}*/
	.page-fichablog .section-entrie .box-contenido{
		font-size: 1.75rem;
	}
	/* PAGE STAFF */
	.page-sm .section-portada{
		margin-top: 76px;
	}
	.page-sm .section-portada .texto-portada h1{
		font-size: 50px;
	}
}
@media (max-width: 768px) { /* 768 a 577 */
	.container-full{
	    width: 100%;
		overflow: hidden;
		padding: 0 1.25rem;
	}
	.page-home .section-galeria .box-text-lateral{
		width: 100%;
	    bottom: unset;
	    top: 8%;
	    margin: auto;
	    padding: 0 2.5rem;
	    text-align: center;
	    height: 100%;
	}
	.page-home .section-galeria .box-text-lateral h1{
		font-size: 40px;
    	margin-bottom: 8px;
	}
	.page-home .section-galeria .box-text-lateral .box-actions{
		position: absolute;
	    bottom: 25%;
	    left: 0;
	    right: 0;
	}
	.page-home .section-galeria .box-text-lateral .box-actions > a{
		padding: 10px;
	    font-size: 16px;
	}
	.page-home .section-galeria .box-image-lateral{
		width: 100%;
	}
	.page-home .section-galeria .owl-carousel figure img.figura{
		width: 328px;
	}
	.page-home .section-especialidades{
		margin-top: 0;
	}
	.page-home .section-especialidades .box-especialidad .box-img img{
		width: 70px;
    	height: 70px;
	}
	.page-home .section-especialidades .box-especialidad .box-nombre{
		font-size: 13px;
	}
	.page-home .section-conocenos .box-conocenos .box-images .box-image.image-3{
		display: none;
	}
	.page-home .section-conocenos .box-conocenos .box-images .box-image.image-2 .box-hovered-center{
		height: 480px;
    	background-color: rgba(0,38,178,.5);
	}
	.page-home .section-porque-elegirnos .box-content .box-item{
		width: 100%;
	}
	.page-home .section-testimonio .box-item .box-item-wrap{
		width: 85%;
		margin-right: 2.5rem;
	}
	.page-home .section-seguro .box-content .owl-item img{
    	width: 100%;
    	padding: 0 15px;
	}
	.page-home .section-seguro .box-header h2{
		font-size: 28px;
	}
	.page-home .section-seguro .box-header p{
		font-size: 20px;
	}
	.section-footer .box-contacto{
		display: block;
	}
	.section-footer .box-contacto > div{
		justify-content: start;
	}
	.section-post-footer{
		flex-wrap: wrap;
    	justify-content: center;
	}
	.section-post-footer .box-autor{
		text-align: center;
	}
	.section-footer .box-contacto > div.box-redes{
		justify-content: center;
	}
	.box-menu-lateral {
    	width: 65%;
	}
	.box-menu-lateral.out{
		right: -65%;
	}
	/* PAGE ESPECIALIDAD */
	.page-esp .section-especialidades .box-content .box-items .swiper-slide{
        padding: 0;
    }
    /* PAGE FICHA ESPECIALIDAD */
    .page-fichesp .section-staff{
    	padding: 2% 4%;
    }
    .page-fichesp .section-staff .box-body .box-item{
    	padding: 0;
    	width: 49%;
    	min-height: 240px;
    	display: inline-block;
    }
    .page-fichesp .section-staff .box-body .box-item .box-hovered {
	    display: flex;
	    background-color: rgba(0,38,178,.5);
	    flex-wrap: wrap;
	    justify-content: center;
	    visibility: visible;
	    align-items: center;
	    border-radius: 160px 0;
	    width: 100%;
	    left: 0;
	}
	.page-fichesp .section-staff .box-body .box-photo{
		width: 160px;
    	height: 200px;
	}
	.page-fichesp .section-staff .box-body .box-text{
		width: inherit;
		display: none;
	}
	/* PAGE FICHA SERV */
	.page-fichserv .section-portada .img-portada .bg-portada{
		height: 360px;
	}
	.page-fichserv .section-portada .texto-portada{
		display: flex;
	    align-items: center;
	    justify-content: center;
	    top: 35%;
	}
	.page-fichserv .section-portada .texto-portada img{
		top: -35px;
	}
	.page-fichserv .section-portada .texto-portada h1{
		font-size: 32px;
	}
	.page-fichserv .section-mas-servicios .box-item .box-icono img{
		width: 100px;
	}
	.page-fichserv .section-mas-servicios .box-item p{
		font-size: 15px;
		padding: 0 15px;
	}
	.page-fichserv .section-mas-servicios .owl-buttons .owl-prev{
		left: 10px;
	}
	.page-fichserv .section-mas-servicios .owl-buttons .owl-next{
		right: 10px;
	}
	/* PAGE PROMOCIONES */
	.page-promocion .section-portada .texto-portada h1{
		font-size: 40px;
	}
	.page-promocion .section-list{
		margin: 5rem 0;
	}
	/* PAGE CONTACTANOS */
	.page-contacto .section-portada .texto-portada h1{
		font-size: 40px;
	}
	.page-contacto .section-portada .img-portada .bg-portada{
		height: 250px;
	}
	.page-contacto .section-contacto .box-form .box-header small{
		font-size: 20px;
	}
	/* PAGE BLOG */
	.page-blog .section-portada .texto-portada h1{
		font-size: 26px;
	}
	.page-blog .section-portada .img-portada .bg-portada{
		height: 320px;
	}
	.page-blog .section-listentries .pre-item .box-hovered{
		display: flex;
	    background-color: rgba(0,38,178,.5);
	    flex-wrap: wrap;
	    justify-content: center;
	    visibility: visible;
	    align-items: center;
	    border-radius: 15px 0;
	}
	.page-blog .section-listentries .pre-item img {
	    border-radius: 15px 0;
	}
	.page-blog .section-listentries .item-blog{
		width: 100%;
	}
	.page-blog .section-listentries .pre-item > a{
		width: 100%;
	}
	.page-blog .section-listentries{
		padding-bottom: 2rem;
    	padding-top: 7rem;
	}
	.page-blog .section-listentries .pre-item {
	    margin-bottom: 1rem;
	}

	/* PAGE FICHA BLOG*/
	.page-fichablog .section-entrie .box-interes-right{
		display: none;
	}
	.page-fichablog .section-entrie .box-body{
		padding: 0 2rem;
	}
	.page-fichablog .section-entrie .box-autor .box-info small{
		font-size: 16px;
	}
	.page-fichablog .section-entrie .box-autor .box-info{
		padding: 6rem 3.25rem 6rem 11rem;
	}
	/* PAGE STAFF */
	.page-sm .section-portada .texto-portada h1{
		font-size: 44px;
	}

}
@media (max-width: 576px) { /*576 a 376*/
	.box-header .box-header-primary .box-menu-resp .box-telefono{
		display: none;
	}
	.box-header .box-menu-resp .btn.btn-home{
		display: none;
	}
	.page-home .section-galeria .box-text-lateral h1{
		font-size: 32px;
	}
	.page-home .section-galeria .box-text-lateral p{
		font-size: 18px;
	}
	.page-home .section-especialidades .box-title h2{
		font-size: 34px;
		margin-bottom: 6px;
	}
	.page-home .section-especialidades .box-especialidad{
		width: 130px;
    	margin: auto;
	}
	.page-home .section-especialidades .box-title p{
		font-size: 18px;
	}
	.page-home .section-especialidades .box-especialidad .box-img img{
		width: 50px;
    	height: 50px;
	}
	.page-home .section-especialidades .owl-buttons .owl-prev{
		top: 25%;
		left: -20px;
	}
	.page-home .section-especialidades .owl-buttons .owl-next{
		top: 25%;
		right: -20px;
	}
	.page-home .section-especialidades .owl-buttons svg{
		font-size: 30px;
	}
	.page-home .section-especialidades .box-especialidad .box-nombre{
		font-size: 12px;
	}
	.page-home .section-conocenos .box-conocenos .box-images .box-image.image-2{
		background-position-y: 100%;
	}
	.page-home .section-conocenos .box-conocenos .box-images .box-image.image-1{
		display: none;
	}
	.page-home .section-testimonio .box-item .box-title{
		font-size: 16px;
	}
	.page-home .section-testimonio .box-item .box-item-wrap{
		width: 90%;
    	margin-right: 0;
    	font-size: 13px;
	}
	.angle-separator-content .entre-test-y-pe{
		display: none;
	}
	.page-home .section-seguro .box-content{
		margin-top: 2rem;
	}
	.page-home .section-porque-elegirnos .box-content .box-item .box-item-content{
		width: 280px;
	}
	.page-home .section-seguro {
	    padding: 0;
	}
	.section-post-footer{
		font-size: 12px;
	}
	.page-home .section-seguro .box-content .owl-item img{
		filter: unset;
	}
	.page-home .section-testimonio{
		display: none;
	}
	.box-menu-lateral {
    	width: 95%;
	}
	.box-menu-lateral.out{
		right: -95%;
	}
	/* PAGE ESPECIALIDAD */
	.page-esp .section-especialidades .box-content{
		background-color: white;
	}
	.page-esp .section-portada .texto-portada h1{
		font-size: 35px;
	}
	/* PAGE FICHA ESP */
	.page-fichesp .section-portada .texto-portada h1{
		font-size: 35px;
	}
	.page-fichesp .section-staff .box-body{
		display: flex;
    	flex-wrap: wrap;
	}
	.page-fichesp .section-describe .box-content-describe img{
		width: 100%;
	}
	.page-fichesp .section-servicios .box-content .box-item{
		padding: 0;
	}
	.page-fichesp .section-servicios .box-content .box-item img{
		width: 60px;
	}
	.page-fichesp .section-servicios .box-content .box-item:hover a > .box-hovered{
		width: 150px;
    	height: 130px;
	}
	/*.page-fichesp .section-servicios .box-content .box-item p{
		height: 25px;
	}*/
	.page-fichesp .section-describe .box-content-describe .box-descripcion{
		padding: 0;
	}
	.page-fichesp .section-servicios .box-content .box-item:hover a > .box-hovered{
		background-color: inherit;
	}
	.page-fichesp .section-servicios .box-content .box-item:hover a > img{
		filter: unset;
	}
	.page-fichesp .section-servicios .box-content .box-item:hover a > p{
		color: inherit;
	}
	.page-fichesp .section-servicios .box-title h2{
		font-size: 28px;
	}
	/* PAGE FICHA SERV */
	.page-fichserv .section-mas-servicios .box-item .box-icono img {
	    width: 80px;
	}
	.page-fichserv .section-mas-servicios .box-item p{
		font-size: 13px;
	}
	.page-fichserv .section-mas-servicios .owl-buttons svg{
		font-size: 30px;
	}
	.page-fichserv .section-mas-servicios .owl-buttons .owl-prev{
		top: 30%;
	}
	.page-fichserv .section-mas-servicios .owl-buttons .owl-next{
		top: 30%;
	}
	.page-fichserv .section-portada .img-portada .bg-portada{
		height: 280px;
	}
	.page-fichserv .section-portada .texto-portada h1{
		font-size: 28px;
	}
	/* PAGE PROMOCIONES */
	.page-promocion .section-portada .texto-portada{
		left: 0;
		right: 0;
    	display: flex;
    	justify-content: center;
		font-size: 40px;
	}
	.page-promocion .section-portada .texto-portada h1{
		font-size: 35px;
	}
	.page-promocion .box-result .box-item{
		width: 160px;
	}
	.page-promocion .box-result .box-item .box-image{
		height: 200px;
	}
	.page-promocion .box-result .box-description{
		width: 160px;
		font-size: 12px;
		height: 40px;
	}
	.page-promocion .section-list{
		margin-bottom: 0;
	}
	/* PAGE CONTACTANOS */
	.page-contacto .section-portada .texto-portada{
		left: 0;
		right: 0;
    	display: flex;
    	justify-content: center;
		font-size: 40px;
	}
	.page-contacto .section-portada .texto-portada h1{
		font-size: 35px;
	}
	.page-contacto .section-contacto .box-form .box-header h3{
		font-size: 24px;
	}
	.page-contacto .section-contacto .box-form .box-header small{
		font-size: 16px;
	}
	.page-contacto .section-contacto{
		padding: 4rem 2rem;
	}
	.page-contacto .section-contacto .box-form .box-form-detail .form-check{
		display: flex;
	}
	.page-contacto .section-contacto .box-form .box-form-detail label{
		font-size: 12px;
	}
	/* PAGE BLOG */
	.page-blog .section-listentries .item-blog .box-hovered{
		left: 0;
    	right: 0;
	}
	.page-blog .section-listentries .item-blog{
		padding: 0;
	}
	.page-blog .section-listentries .item-blog-foot{
		padding: 0;
	}
	.page-blog .section-portada .texto-portada h1{
		font-size: 20px;
	}
	.page-blog .section-portada .box-arrow.box-left-arrow .btn{
		padding-left: 0;
	}
	.page-blog .section-portada .box-arrow.box-right-arrow .btn{
		padding-right: 0;
	}
	.page-blog .section-portada .box-arrow .btn img{
		width: 38px;
	}
	.page-blog .section-listentries .item-blog .box-hovered .btn{
		font-size: 12px;
		line-height: 1;
	}
	.page-blog .section-listentries .item-blog-foot h4{
		font-size: 14px;
		overflow: hidden;
    	text-overflow: ellipsis;
	}
	.page-blog .section-listentries .item-blog-foot > p{
		font-size: 12px;
	}
	.page-blog .section-listentries .pre-item{
		height: 320px;
	}
	/* PAGE FICHA BLOG */
	.page-fichablog .section-entrie .box-header-entrie h1{
		font-size: 28px;
	}
	.page-fichablog .section-entrie .box-autor .box-info {
	    padding: 3rem 3.25rem 3rem 8rem;
	}
	.page-fichablog .section-entrie .box-autor .box-info{
		margin-left: -8rem;
		height: 150px;
	}
	.page-fichablog .section-entrie .box-autor .box-autor-foto img{
		height: 90%;
		width: auto;
	}
	.page-fichablog .section-entrie .box-autor .box-autor-foto{
		min-width: 150px;
		height: 150px;
    	width: 150px;
	}
	.page-fichablog .section-interes .box-item img {
	    border-radius: 15px 0;
	}
	.page-fichablog .section-interes .box-item .box-hovered {
	    display: flex;
	    background-color: rgba(0,38,178,.5);
	    flex-wrap: wrap;
	    justify-content: center;
	    visibility: visible;
	    align-items: center;
	    border-radius: 15px 0;
	}
	.page-fichablog .section-interes .pre-item{
		height: 300px;
	}
	.page-fichablog .section-interes .item-blog .box-hovered .btn{
		font-size: 12px;
	    line-height: 1;
	    height: 28px;
	    display: flex;
	    align-items: center;
	}
	.page-fichablog .section-interes .box-title h2{
		font-size: 3rem;
	}
	.page-fichablog .section-interes .item-blog-foot h4{
		font-size: 12px;
		overflow: hidden;
    	text-overflow: ellipsis;
	}
	.page-fichablog .section-entrie .box-header-entrie {
	    padding: 0 2rem;
	}
	.page-fichablog .section-entrie .box-autor .box-info h3{
		font-size: 20px;
	}
	.page-fichablog .section-entrie .box-autor .box-info small{
		font-size: 12px;
	}
	/* PAGE STAFF */
	.page-sm .section-portada .texto-portada{
		left: 0;
	    right: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.page-sm .section-portada .texto-portada h1{
		font-size: 35px;
	}
	.page-sm .section-portada .img-portada .bg-portada{
		height: 280px;
		background-position: 2%;
	}
	.page-sm .section-medicos .box-filtros .box-form{
		flex-wrap: wrap;
	}
	.page-sm .section-medicos .box-filtros .box-form .box-especialidad{
		width: 100%;
		margin-bottom: 2rem;
	}
	.page-sm .section-medicos .box-filtros .box-form .box-medico{
		width: 100%;
		margin-bottom: 2rem;
	}
	.page-sm .section-medicos .box-filtros .box-abc button{
		width: 30px;
		font-size: 12px;
    	height: 30px;
	}
	.page-sm .section-medicos .box-result .item-medico{
		width: 150px;
	    height: 180px;
	}
	.page-sm .section-medicos .box-result .pre-item h4{
		width: 150px;
		font-size: 15px;
	}
	.page-sm .section-medicos .box-paginate .box-content{
		font-size: 12px;
	}
}
@media (max-width: 375px) {
	.box-header .box-header-primary .box-logo img{
		height: 48px;
	}
	.box-header .box-menu-resp .btn{
		margin: 0;
		font-size: 12px;
	}
	.page-home .section-especialidades .box-content .box-action .btn{
		font-size: 14px;
    	padding: 10px 12px;
	}
	.box-header .box-header-primary .box-menu-resp .btn-menu-lateral .svg-inline--fa{
		vertical-align: -.125em;
	}
	.box-header .box-header-primary .box-menu-resp .btn-menu-lateral{
		height: 25px;
     	width: 35px;
	}
	.section-footer .box-contacto .box-icon{
		display: none;
	}
	/*.section-footer .box-contacto .box-icon{
		display: none;
	}*/
	.page-fichesp .section-staff .box-body .box-photo{
		width: 120px;
    	height: 160px;
	}
	.page-fichesp .section-staff .box-body .box-photo .box-hovered h4{
		font-size: 15px;
	}
	.page-fichesp .section-staff .box-body .box-item{
		min-height: 200px;
	}
	/* PAGE PROMOCIONES */
	.page-promocion .box-result .box-item{
		width: 120px;
	}
	.page-promocion .box-result .box-item .box-image{
		height: 160px;
	}
	.page-promocion .box-result .box-description{
		width: 120px;
	}
	/* STAFF */
	.page-sm .section-medicos .box-result .item-medico{
		width: 120px;
	    height: 150px;
	}
	.page-sm .section-medicos .box-result .pre-item h4{
		width: 120px;
		font-size: 13px;
	}
}


/*Medium devices (tablets, 768px and up)

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}