/* =============================================*/
/* CSS BY developer: luisls1717@gmail.com 		*/
/* colors frame 								*/
/* primary: 		#00a7e0 					*/
/* secondary: 		#2a3991 					*/
/* font base color: #484848  					*/
/* background selected : #f7f7f7;				*/
/* =============================================*/
body{
    font-family: 'Leelawade', 'Raleway', 'sans-serif';
    color: #484848;
}
a:hover, a:focus, a:active{
	text-decoration: none; 
}
@font-face {
    font-family: 'Leelawade';
    src: url("../fonts/leelawad.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Leelawade';
    src: url("../fonts/leelawdb.ttf");
    font-weight: 800;
}
.op-25{
    opacity: 0.25 !important;
}
code.json-hide{
    display: none;
}
.container-full{
    margin: 0 auto;
    width: 86%;
}
.loading-spinner{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 2;
}
.loading-spinner .box-img-loading{
    top: 33%;
    position: absolute;
    left: 44%;
}
.loading-spinner .box-img-loading img{
    width: 180px;
}

/* buttons */
.btn{
	position: relative;
	text-align: center;
	/*border: 2px solid;*/
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.btn-rounded{
    border-radius: 12px 0 12px 0;
}
.btn.primary{
    background-color: #3bafbf; /* #0089c3; */
    color: white;
}
.btn.primary:hover{
    background-color: #00a8bf;
}

.btn span{
	z-index: 2;
	display: block;
    padding: 0 15px;
    position: relative;
}
.btn.btn-primary{
	color: #fff;
	background: rgb(0,66,129);
	border: unset;
}
.btn-reserva{
    width: auto;
    background-color: #00488d;
    color: white;
    border-radius: 5px;
    letter-spacing: 0.5px;
}
.btn-reserva:hover{
    background-color: #739525;
    color: white;
}
.btn-menu-lateral{
    background-color: rgba(0,0,0,0);
    border: 2px solid #00488d;
    font-size: 16px;
    height: 32px;
    padding: 0;
    width: 40px;
    border-radius: 5px;
    margin-left: 10px;
    color: #00488d;
    cursor: hand;
    cursor: pointer;
}
.btn-menu-lateral:hover{
    background-color: #00488d;
    color: white;
    border: 2px solid #00488d;
}

header.box-header{
	position: absolute;
	right: 0;
    top: 0;
    z-index: 10;
    left:0;
}
/* HEADER LATERAL */
.box-menu-lateral{
    width: 20%;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 220;
    background-color: #00488d;
    box-shadow: -4px -1px 10px 2px rgba(70, 70, 70, 0.34);
    -webkit-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -moz-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -o-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -ms-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
}
.box-menu-lateral .content-header{
    margin: 20px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.box-menu-lateral .content-header .close-icon, .close-icon{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    border-radius: 20px 0;
    position: relative;
    cursor: hand;
    cursor: pointer;
    transition-property: color,background-color,border-color;
    transition-duration: .35s;
    transition-timing-function: linear;
}
.box-menu-lateral .content-header .close-icon:hover, .close-icon:hover{
    background-color: white;
}
.box-menu-lateral .content-header .close-icon:hover .line, .close-icon:hover .line{
    border-bottom: 1px solid #0033a0;
}
.box-menu-lateral .content-header .close-icon .line, .close-icon .line{
    width: 28px;
    height: 36px;
    border-bottom: 1px solid white;
    position: absolute;
}
.box-menu-lateral .content-header .close-icon .line.line-x, .close-icon .line.line-x{
    -webkit-transform: translateY(-10px) translateX(16px) rotate(45deg);
    transform: translateY(-10px) translateX(16px) rotate(45deg);
}
.box-menu-lateral .content-header .close-icon .line.line-y, .close-icon .line.line-y{
    -webkit-transform: translateY(-10px) translateX(-8px) rotate(-45deg);
    transform: translateY(-10px) translateX(-8px) rotate(-45deg);
}
.box-menu-lateral.out{
    /*visibility: hidden;*/
    right: -20%;
}
.box-menu-lateral.in{
    right: 0;
}
.box-menu-lateral img{
    width: 140px;
}
.box-menu-lateral ul.content-list{
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}
.box-menu-lateral ul.content-list li:nth-child(1){
    border-top: 1px solid rgba(224, 224, 224, 0.18);
}
.box-menu-lateral ul.content-list li{
    cursor: hand;
    cursor: pointer;
    padding: 10px 24px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.18);
    transition-property: color,background-color,border-color;
    transition-duration: .35s;
    transition-timing-function: linear;
    height: 60px;
    line-height: 2.6;
    font-size: 15px;
}
.box-menu-lateral ul.content-list li:hover{
    /*background-color: #21b8c6;*/
    background-color: #0085b2;
}
/* END */

/* HEADER SECONDARY */ 
.box-header .box-header-secondary{
	float: right;
    display: flex;
    padding: 8px;
}
.box-header .box-header-secondary > div{
    display: inline-block;
}
.box-header .box-header-primary{
	
}
.box-header .box-header-secondary .box-header-redes .box-item{
    display: inline-block;
    margin-right: 5px;
}
.box-header .box-header-secondary .box-header-redes a.btn{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}
.box-header .box-header-secondary .box-header-redes a.btn:hover {
    opacity: .8;
}
.box-header .box-header-secondary .box-header-redes a.btn.btn-fb{
    color: #3b5998;
}
.box-header .box-header-secondary .box-header-redes a.btn.btn-yt{
    color: #cd201f;
}
.box-header .box-header-secondary .box-header-redes a.btn.btn-ig{
    color: #3f729b;
}
.box-header .box-header-secondary .box-header-redes a.btn svg{
    font-size: 18px;
}
.box-header .box-header-secondary .box-header-info{
	margin-right: 28px;
    color: #21b8c6;
    font-family: 'calibri';
    font-weight: 100;
}
.box-header .box-header-secondary .box-header-info a{
    color: #21b8c6;
}
.box-header .box-header-secondary .box-header-redes{
    margin-right: 28px;
}
.box-header .box-header-secondary .box-header-info .box-item{
    float: left;
    font-size: 14px;
    margin: 8px 10px;
    position: relative;
    display: flex;
}
.box-header .box-header-secondary .box-header-info .box-item.box-telefono{
    border-right: 1px solid;
    padding-right: 16px;
}
.box-header .box-header-secondary .box-header-info .box-item.box-rs{
    right: 2%;
    position: absolute;
}

.box-header .box-header-secondary .box-header-info .box-item .box-icon{
	padding-right: 6px;
}

/* HEADER PRIMARY */

.box-header .box-header-primary{
	float: left;
	width: 100%;
	display: flex;
    align-items: center;
}
.box-header .box-header-primary .box-logo{
    flex-grow: 1;
}
.box-header .box-header-primary .box-logo img{
	height: 80px;
    margin-top: -25px;
}
.box-header .box-header-primary .box-menu{
	float: right;
}

.box-header .box-header-primary .box-menu{
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
}
.box-header .box-header-primary .box-nav-menu{
	width: 100%;
}
.box-header .box-header-primary .box-nav-menu ul{
	width: 100%;
    float: left;
    margin: 0;
    list-style: none;
    line-height: inherit;
    padding: 0;
}
.box-header .box-header-primary .box-nav-menu ul li{
	list-style-type: none;
}
.box-header .box-header-primary .box-nav-menu ul > li{
	float: left;
    padding-left: 36px;
    position: relative;
    /*display: flex;*/
    align-items: center;
}
.box-header .box-header-primary .box-item a{
    color: #00488d; 
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 60px;
    border-top: 3px solid transparent;
}
.box-header .box-header-primary .box-item a svg{
    font-size: 2rem;
    margin-top: -5px;
}
/*sticked menu*/
.box-header.sticky-fixed{
    position: fixed;
    background-color: rgba(255,255,255,.925);
    box-shadow: rgba(0,0,0,.117647) 0 1px 3px;
}
.box-header.sticky-fixed .box-content-header-secondary{
    display: none;
}
.box-header.sticky-fixed .box-logo img{
    height: 60px;
    margin: 8px 0;
}

.box-header .box-header-primary .box-nav-menu ul li a:hover{
    color: #21b8c6;
    font-weight: 400;
}
.box-header .box-header-primary .box-nav-menu ul.box-list-menu li a:hover {
    border-color: #21b8c6;
    color: #21b8c6;
}
.box-header .box-header-primary .box-nav-menu ul.box-list-menu > li a > img{
    height: 12px;
    padding-left: 4px;
}


.box-header .box-header-primary .box-nav-menu ul.box-list-menu > li:hover .box-list-submenu{ 
	/*padding: 0;*/
	/*top: 100%;*/
    opacity: 1;
    visibility: visible;
    padding: 2rem;
    background-color: #21b8c6;
}
.box-header .box-header-primary .box-nav-menu ul.box-list-menu li .box-list-submenu li{
    /*background-color: #21b8c6;*/
    padding: 5px 0;
    /*width: 180px;*/
}
.box-header .box-header-primary .box-nav-menu ul.box-list-menu li .box-list-submenu li a{
    /*padding: 14px 20px;*/
    border-top: unset;
    color: white;

    padding: 0 0 0 12px;
    height: auto;
}
.box-header .box-header-primary .box-nav-menu ul.box-list-menu li .box-list-submenu li:hover a{
    color: #21b8c6;
}
.box-header .box-header-primary .box-list-submenu{
	padding: 4px 12px;
}
.box-header .box-header-primary .box-item.-active a{
    color: #21b8c6;
}
.box-header .box-header-primary .box-item .box-list-submenu{
	top: 60px;
	left: 0;
	opacity: 0;
	width: 245px;
	z-index: 3;
	font-size: 14px;
	background: #fff;
	position: absolute;
	visibility: hidden;
	line-height: inherit;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.10);

	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.box-header .box-header-primary .box-menu .box-item .box-list-submenu li{
	width: 100%;
	float: left;
	/*line-height: inherit;*/
	/*border-bottom: 1px solid #eaeaea;*/
    border-bottom: unset;
    line-height: 1.25;
}
.box-header .box-header-primary .box-menu .box-item .box-list-submenu li:hover{
	background-color: #f7f7f7;
}
.box-header .box-header-primary .box-menu .box-item .box-list-submenu li a{
	padding: 4px 12px; 
}

/* GALERIA */
.page-home .section-galeria .owl-carousel figure img{
    max-width: 100%;
    height: 100%;
}
.section-galeria .owl-carousel figure figcaption{
	top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    /*padding: 132px 0 0;*/
    padding: 50px 0 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.page-home .section-galeria .owl-carousel .owl-controls .owl-buttons div{ 
	top: 50%;
    padding: 0;
    opacity: 1;
    width: 70px;
    height: 70px;
    color: #515151;
    display: block;
    margin: -35px 0 0;
    line-height: 70px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255,255,255, .5);
    border: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.page-home .section-galeria .owl-carousel .owl-controls .owl-buttons div:hover{
	background-color: #2a3991; /* #00a7e0 */
	color: white;
	border: 2px solid #2a3991;
}
.page-home .section-galeria .owl-carousel .owl-controls .owl-buttons div.owl-next{
	right: 20px;
}
.page-home .section-galeria .owl-carousel .owl-controls .owl-buttons div.owl-prev{
	left: 20px;
}
.page-home .section-galeria .owl-carousel .owl-controls .owl-buttons div svg{
	display: block;
    font-size: 30px;
    line-height: 66px;
    text-align: center;
}
.page-home .section-galeria .box-galeria-content{
    height: 100%;
    position: relative;
}
.page-home .section-galeria .box-image-lateral{
    position: absolute;
    /*right: 0;*/
    right: -5em;
    bottom: 0;
}
.page-home .section-galeria .box-text-lateral{
    position: absolute;
    width: 54%;
    text-align: left;
    bottom: 33%;
    margin-left: 5%;
}
.page-home .section-galeria .box-text-lateral h1{
    font-size: 70px;
    color: #00488d;
    font-family: 'Leelawade', 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    margin-bottom: 24px;
}
.page-home .section-galeria .box-text-lateral p{
    font-size: 24px;
    /*line-height: 36px;*/
    color: #739525;
    font-weight: 300;
    font-family: 'Raleway';
}
.page-home .section-galeria .box-text-lateral .box-actions{
    margin-top: 40px;
}
.page-home .section-galeria .box-text-lateral .box-actions > a{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    padding: 17px 40px;
    line-height: 21px;
    font-size: 18px;
    border-radius: 12px 0 12px 0;
}

/* ESPECIALIDADES */
.page-home .section-especialidades{
    margin: 40px 0;
}
.page-home .section-especialidades .box-title{
    text-align: center;
    color: #0085b2;
    padding-bottom: 20px;
}
.page-home .section-especialidades .box-title h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.page-home .section-especialidades .box-title p{
    font-size: 20px;
}
.page-home .section-especialidades .box-content{
    margin-top: 40px;
    padding: 0 5%;
}
.page-home .section-especialidades .box-especialidad{
    text-align: center;
}
.page-home .section-especialidades .box-especialidad .box-img{
    margin-bottom: 15px;
    /*height: 160px;*/
}
.page-home .section-especialidades .box-especialidad .box-img img{
    width: 100px;
    height: 100px;
}
.page-home .section-especialidades .box-especialidad .box-nombre{
    color: #0085b2;
}
.page-home .section-especialidades .box-content .box-action{
    text-align: center;
    margin-top: 50px;
}
.page-home .section-especialidades .box-content .box-action .btn{
    padding: 12px 20px;
    font-size: 16px;
}
.page-home .section-especialidades .owl-buttons .owl-prev{
    position: absolute;
    left: -30px;
    top: 33%;
}
.page-home .section-especialidades .owl-buttons .owl-next{
    position: absolute;
    right: -30px;
    top: 33%;
}
.page-home .section-especialidades .owl-buttons svg{
    font-size: 45px;
    color: #0085b2;
}
/*ANGLE SEPARATOR*/
.angle-separator-content{
    position: relative;
}
.angle-separator-up{
    height: 70px;
    position: absolute;
    width: 100%;
    top: -70px;
    background-color: white;
    border-top-left-radius: 75% 100%;
    border-top-right-radius: 75% 100%;
    z-index: 2;
}
.angle-separator-up-style-2{
    height: 34px;
    position: absolute;
    width: 100%;
    top: -34px;
    background-color: white;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    z-index: 2;
}
.angle-separator-bottom{
    height: 70px;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: white;
    border-bottom-left-radius: 75% 100%;
    border-bottom-right-radius: 75% 100%;
    z-index: 1;
}
.angle-separator-bottom.gray, .angle-separator-up.gray{
    background-color: rgba(232,232,232);
}
/*.page{ 
    margin-top: 180px;
}*/
/* SECTION CONOCENOS */
.page-home .section-conocenos .box-conocenos{
    display: flex;
    align-items: center;
    position: relative;
    background-color: #00498d;
    color: white;
    overflow: hidden;
}
.page-home .section-conocenos .box-conocenos .box-text{
    padding: 0 180px;
    font-size: 20px;
    font-weight: 100;
    width: 50%;
}
.page-home .section-conocenos .box-conocenos .box-text h2{
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}
.page-home .section-conocenos .box-conocenos .box-image{
    width: 50%;
}
.page-home .section-conocenos .box-conocenos .btn{
    background-color: white;
    font-weight: 800;
    color: #00498d;
    margin: auto;
    display: block;
    padding: 10px 25px;
    margin-top: 30px;
}
/* SECTION PORQUE ELEGIRNOS */
.page-home .section-porque-elegirnos{
    /*background-color: rgba(232,232,232);*/
}
.page-home .section-porque-elegirnos .box-header{
    text-align: center;
    margin-bottom: 80px;
}
.page-home .section-porque-elegirnos .box-header h2{
    margin-top: 0;
    font-size: 40px;
    font-weight: 800;
    color: #0085b2;
}
.page-home .section-porque-elegirnos .box-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 120px;
}
.page-home .section-porque-elegirnos .box-content .box-item .box-item-content:hover{
    background-color: #0085b2;
}
.page-home .section-porque-elegirnos .box-content .box-item .box-item-content:hover .box-title{
    color: white;
}
.page-home .section-porque-elegirnos .box-content .box-item{
    text-align: center;
    width: 30%;
    margin-bottom: 50px;
}
.page-home .section-porque-elegirnos .box-content .box-item .box-title{
    color: #0085b2;
    font-size: 15px;
    line-height: 1.3;
    margin-top: 12px;
}
.page-home .section-porque-elegirnos .box-content .box-item .box-item-content{
    display: inline-block;
    border-radius: 12px 0;
    border: 4px solid #0085b2;
    padding: 20px 30px;
    width: 228px;
    height: 228px;
    position: relative;
}
.page-home .section-porque-elegirnos .box-image img{
    width: 85px;
}
.page-home .section-porque-elegirnos .box-content .box-item .box-action{
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
}
.page-home .section-porque-elegirnos .box-content .box-item .box-action a{
    background-color: #0085b2;
    color: white;
    padding: 8px 20px;
}
.page-home .section-porque-elegirnos .box-content .box-item .box-item-content:hover .box-action a{
    background-color: white;
    color: #0085b2;
}
.page-home .section-porque-elegirnos .box-content .box-item .box-item-content:hover .box-image img{
    filter: brightness(0) invert(1);
}

/* TESTIMONIOS */
.page-home .section-testimonio{
    background-image: url('../images/testimonio-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0;
}
.page-home .section-testimonio .box-header h2{
    color: #014d90;
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
    font-size: 34px;
}
.page-home .section-testimonio .box-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}
.page-home .section-testimonio .box-item{
    margin-bottom: 50px;
    width: 50%;
}
.page-home .section-testimonio .box-item .box-item-wrap{
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0085b2;
    color: white;
    border-radius: 20px 0;
    padding: 26px;
}
.page-home .section-testimonio .box-item .box-title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    width: 85%;
}
.page-home .section-testimonio .box-item .box-title img{
    height: 48px;
    float: right;
    position: relative;
    right: -20%;
}
.page-home .section-testimonio .box-item .box-image{
    margin-left: -80px;
    padding-right: 20px;
}
.page-home .section-testimonio .box-item .box-image img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: 2px solid white;
}
.page-home .section-testimonio .box-action{
    text-align: center;
}
.page-home .section-testimonio .box-action button{
    padding: 12px 26px;
    background-color: rgba(255,255,255,0);
    border: 3px solid #014d90;
    color: #014d90;
    font-weight: bold;
}
.page-home .section-testimonio .box-action button:hover{
    color: white;
    background-color: #014d90;
}

/* SEGUROS */
.page-home .section-seguro{
    padding: 50px 0;
}
.page-home .section-seguro .box-header h2{
    color: #014d90;
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
    font-size: 34px;
}
.page-home .section-seguro .box-header p{
    font-size: 24px;
    text-align: center;
    color: #014d90;
    padding-top: 15px;
}
.page-home .section-seguro .box-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.page-home .section-seguro .box-content .owl-controls .owl-pagination{
    margin-top: 20px;
}
.page-home .section-seguro .box-content .owl-controls .owl-pagination .owl-page > span{
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}
.page-home .section-seguro .box-content .owl-controls .owl-pagination .owl-page.active >span{
    background-color: #014d90;
    border-color: #014d90;
}
.page-home .section-seguro .box-content .owl-item img{
    /*width: 200px;*/
    margin: auto;
    display: block;
    filter: grayscale(1);
    cursor: hand;
    cursor: pointer;
}
.page-home .section-seguro .box-content .owl-item img:hover{
    filter: grayscale(0);
}


/* CLIENTES */
.page-home .page.page-cliente > .box-content{ 
    padding-top: 5%;
    padding-bottom: 5%;
} 
.page-home .page.page-cliente h1{
    text-align: center;
    padding-bottom: 28px;
}
.page-home .page.page-cliente .box-client{
    margin-bottom: 15px;
}
.page-home .page.page-cliente .box-client .box-img{ 
    text-align: center;
    border: 1px solid #e0e0e0;
    height: 200px;
    display: flex;
}
.page-home .page.page-cliente .box-client .box-img img{
    margin: auto;
}
/* ************ */
/* STAFF MEDICO */
/* ************ */
.page-sm .section-portada{
    margin-top: 140px;
    /*background-color: #0085b2;*/
    /*padding-top: 60px;*/
    position: relative;
}
.page-sm .section-portada .img-portada {
    position: relative;
}
.page-sm .section-portada .texto-portada{
    position: absolute;
    bottom: 0;
    right: 10%;
    padding-bottom: 60px;
}
.page-sm .section-portada .texto-portada h1{
    font-size: 60px;
    font-weight: bold;
    color: #0085b2;
}
.page-sm .section-portada .img-portada .bg-portada{
    background-image: url(../images/portada-staff.jpg);
    background-size: cover;
    width: 100%;
    height: 340px;
    /*border-top-left-radius: 80% 25%;
    border-top-right-radius: 80% 25%;*/
}
.page-sm .section-medicos .box-title{
    margin: 35px 0;
}
.page-sm .section-medicos .box-title h3{
    color: #00488d;
    text-align: center;
    font-size: 22px;
}
.page-sm .section-medicos .box-filtros .box-form{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.page-sm .section-medicos .box-filtros .box-form .form-group{
    margin-bottom: 0;
}
.page-sm .section-medicos .box-filtros .box-form .box-especialidad{
    margin-right: 20px;
    width: 30%;
}
.page-sm .section-medicos .box-filtros .box-form .box-medico{
    margin-right: 20px;
    width: 40%;
}
.page-sm .section-medicos .box-filtros .box-form button{
    background-color: #00488d;
    color: white;
}
.page-sm .section-medicos .box-filtros .box-abc{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.page-sm .section-medicos .box-filtros .box-item-abc{
    margin: 4px;
}
.page-sm .section-medicos .box-filtros .box-item-abc button{
    border-radius: 12px 0;
    border: 1px solid;
}
.page-sm .section-medicos .box-filtros .box-item-abc button.selected{
    background-color: #969696;
    color: white;
}
.page-sm .section-medicos .box-filtros .box-item-abc button:hover{
    background-color: #969696;
    color: white;
}
.page-sm .section-medicos .box-filtros .box-abc button{
    font-weight: bold;
    color: #969696;
    width: 35px;
    font-size: 15px;
    height: 35px;
    display: flex;
    justify-content: center;
}
.page-sm .section-medicos .box-filtros .box-abc .box-item-abc:first-child button{
    width: auto;
}
.page-sm .section-medicos .box-result .pre-item{
    margin-bottom: 30px;
}
.page-sm .section-medicos .box-result .pre-item h4{
    color: #00488d;
    font-weight: 800;
    text-align: center;
    margin: 15px auto;
    width: 220px;
    height: 40px;
}
.page-sm .section-medicos .box-result .item-medico{
    width: 220px;
    margin: auto;
    height: 240px;
    position: relative;
    border: 3px solid #0085b2;
    border-radius: 18px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /**/
    transition-property: color, background-color, visibility;
    transition-duration: .5s;
    transition-timing-function: linear;
}
.page-sm .section-medicos .box-result .item-medico img{
    /*width: 170px;*/
    width: 100%;
    border-radius: 12px 0;
    margin: auto;
    /*position: absolute;*/
    /*bottom: 0;*/
}
.page-sm .section-medicos .box-result .item-medico .box-hovered{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    /*display: none;*/
    transition-property: color, background-color, display;
    transition-duration: .25s;
    transition-timing-function: linear;
}
.page-sm .section-medicos .box-result .item-medico:hover .box-hovered{
    display: flex;
    background-color: rgba(0,133,178,.65);
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    visibility: visible;/**/
}
.page-sm .section-medicos .box-result .item-medico .box-hovered .box-action{
    margin: 20px;
}
.page-sm .section-medicos .box-result .item-medico .box-hovered .box-action button{
    width: 90px;
    background-color: white;
    border-radius: 12px 0;
}
.page-sm .section-medicos .box-result .item-medico .box-hovered .box-info{
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 20px;
}
.page-sm .section-medicos .box-result .item-medico .box-hovered .box-info .cmp{
    font-size: 28px;
    font-weight: 100;
}
.page-sm .section-medicos .box-result .item-medico .box-hovered .box-info h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.page-sm .section-medicos .box-paginate{
    overflow: auto;
}
.page-sm .section-medicos .box-paginate .box-content{
    overflow: auto;
    margin: 0 20px;
    border-top: 1px solid #969696;
    padding: 15px 0;
}
.page-sm .section-medicos .box-paginate .box-lateral-left{
    float: left;
    display: flex;
    align-items: center;
}
.page-sm .section-medicos .box-paginate .box-lateral-left span{
    margin-right: 15px;
}
.page-sm .section-medicos .box-paginate .box-lateral-right{
    float: right;
    display: flex;
    align-items: center;
}
.page-sm .section-medicos .box-paginate .box-lateral-right select{
    width: 60px;
}
.page-sm .section-medicos .box-paginate .box-lateral-right > div{
    width: 70px;
    text-align: center;
}
.page-sm .section-medicos .box-paginate .box-lateral-right .propos{
    margin-left: 10px;
    text-align: left;
    width: 40px;
}
.page-sm .section-medicos .box-paginate .box-lateral-right .btn-direction{
    border-radius: 4px;
    border: 1px solid;
    color: #969696;
    margin-left: 4px;
}
/*.page-sm .section-portada .img-portada .box-angle{
    position: absolute;
    height: 100px;
    border-top-left-radius: 100% 25%;
    border-top-right-radius: 100% 25%;
}*/
/*.sm .section-portada .img-portada img{
    max-width: 100%;
    width: 100%;
}*/

/* ************************ */
/*      ESPECIALIDADES      */
/* ************************ */
.page-esp .section-portada{
    margin-top: 140px;
    /*background-color: #0085b2;*/
    /*padding-top: 60px;*/
    position: relative;
}
.page-esp .section-portada .img-portada {
    position: relative;
}
.page-esp .section-portada .texto-portada{
    position: absolute;
    bottom: 0;
    right: 10%;
    padding-bottom: 60px;
}
.page-esp .section-portada .texto-portada h1{
    font-size: 60px;
    font-weight: bold;
    color: #0085b2;
}
.page-esp .section-portada .img-portada .bg-portada{
    background-image: url(../images/portada-especialidades.jpg);
    background-size: cover;
    width: 100%;
    height: 340px;
}
.page-esp .section-especialidades .box-filtros{
    padding: 0 14% 2%;
}
.page-esp .section-especialidades .box-content{
    padding: 4% 14%;
    background-color: #eaf6fb;
}
.page-esp .section-especialidades .box-footer-actions{
    margin: 40px 0;
    text-align: center;
}
.page-esp .section-especialidades .box-footer-actions a{
    width: 180px;
}
.page-esp .section-especialidades h3{
    color: #00488d;
    font-weight: bold;
    text-align: left;
}
.page-esp .section-especialidades .box-especialidad{
    display: flex;
}
.page-esp .section-especialidades .box-especialidad input{
    margin-right: 15px;
}
.page-esp .section-especialidades .box-especialidad button{
    width: 260px;
}
.page-esp .section-especialidades .box-content .box-inner-content{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}
.page-esp .section-especialidades .box-content .box-items{
    margin: 40px 0;
    overflow: hidden;
}
.page-esp .section-especialidades .box-content .box-arrow{
    text-align: center;
}
.page-esp .section-especialidades .box-content .box-arrow button{
    border-radius: 50%;
}
.page-esp .section-especialidades .box-content .box-inner-content .box-items .box-item{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
    display: inline-block;
    padding: 10px 10px;
    border-radius: 16px 0;
    /*border: 2px solid #9bc0d8;*/
    transition-property: color, background-color, width, height, display;
    transition-duration: .25s;
    transition-timing-function: linear;

    position: absolute;
    left: 20%;
    right: 20%;
    height: 94px;
    /*margin-bottom: 40px;*/
}
.page-esp .section-especialidades .box-content .box-inner-content .box-items .box-item:hover{
    background-color: #00488d;
    border-color: #00488d;
}
.page-esp .section-especialidades .box-content .box-inner-content .box-items .box-item:hover img{
    filter: brightness(0) invert(1);
    /*width: 40px;
    height: 40px;*/
}
.page-esp .section-especialidades .box-content .box-inner-content .box-items .box-item:hover .box-action{
    display: block;
    margin-top: 10px;
}
.page-esp .section-especialidades .box-content .box-inner-content .box-items .box-item .box-icon{
    width: 100%;
    text-align: center;
}
.page-esp .section-especialidades .box-content .box-inner-content .box-items .box-item .box-action{
    display: none;
}
.page-esp .section-especialidades .box-content .box-inner-content .box-items .box-item .box-action a{
    background-color: white;
    border-radius: 10px 0;
    
    font-size: 11px;
    padding: 4px 10px;
    max-width: 100%;
    overflow: hidden;
/*    height: 0;
    padding: 0;
    border: 0;*/
    /*transition-property: color, background-color, width, height, padding;
    transition-duration: .25s;
    transition-timing-function: linear;*/
}
/*.page-esp .section-especialidades .box-content .box-inner-content .box-items .box-item:hover .box-action a{
    height: inherit;
    padding: 6px 10px;
}*/
.page-esp .section-especialidades .box-content .swiper-pagination{
    position: relative;
    margin-top: 15px;
}
.page-esp .section-especialidades .box-content .box-inner-content .box-items .box-nombre{
    /*text-align: center;
    padding-top: 8px;*/
    /*margin-bottom: 40px;*/

    position: absolute;
    bottom: 20px;
    margin: auto;
    left: 0;
    right: 0;
    width: 215px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.page-esp .section-especialidades .box-content .box-inner-content .box-items .box-item img{
    width: 64px;
    height: 64px;
    transition-property: color, background-color, width, height, display;
    transition-duration: .25s;
    transition-timing-function: linear;
    margin: auto;
}

/* ************************ */
/*   FICHA ESPECIALIDADES   */
/* ************************ */
.page-fichesp .section-portada{
    margin-top: 140px;
    position: relative;
}
.page-fichesp .section-portada .img-portada {
    position: relative;
}
.page-fichesp .section-portada .texto-portada{
    position: absolute;
    bottom: 0;
    right: 10%;
    padding-bottom: 60px;
}
.page-fichesp .section-portada .texto-portada h1{
    font-size: 60px;
    font-weight: bold;
    color: #0085b2;
}
.page-fichesp .section-portada .img-portada .bg-portada{
    background-image: url(../images/portada-staff.jpg);
    background-size: cover;
    width: 100%;
    height: 340px;
}
.page-fichesp .section-describe{
    padding: 8% 5%;
}
.page-fichesp .section-describe .box-content-describe{
    display: flex;
    align-items: center;
}
.page-fichesp .section-describe .box-content-describe img{
    width: 450px;
}
.page-fichesp .section-describe .box-content-describe .box-descripcion{
    font-size: 18px;
    line-height: 1.75;
    padding-left: 40px;
}
.page-fichesp .section-staff{
    padding: 2% 10%;
    background-color: #eef9fb;
}
.page-fichesp .section-staff .box-title{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #6f7b7d;
    margin-bottom: 30px;
}
.page-fichesp .section-staff .box-title .vineta{
    height: 24px;
    width: 24px;
    display: inline-block;
    background-color: #0083b1;
    border-radius: 6px 0;
    margin-right: 10px;
}
.page-fichesp .section-staff .box-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-fichesp .section-staff .box-body .box-item{
    /*width: 270px;*/
    width: 340px;
}
.page-fichesp .section-staff .box-body .box-photo{
    display: flex;
    justify-content: center;
    width: 236px;
    border-radius: 10px;
    border: 1px solid #004790;
    margin: auto;
}
.page-fichesp .section-staff .box-body .box-photo img{
    width: 150px;
}
.page-fichesp .section-staff .box-body .box-text{
    width: 200px;
    margin: auto;
    padding-top: 15px;
    color: #0083b1;
    font-size: 20px;
    text-align: center;
}
.page-fichesp .section-staff .box-action{
    margin-top: 45px;
    text-align: center;
}
.page-fichesp .section-servicios .box-title{
    margin: 45px 0;
    text-align: center;
}
.page-fichesp .section-servicios .box-title h2{
    font-weight: bold;
    font-size: 34px;
    color: #0082b0;
}
.page-fichesp .section-servicios .box-content{
    margin: 5% 2.5%;
}
.page-fichesp .section-servicios .box-content .box-item{
    text-align: center;
    padding: 24px;
}
.page-fichesp .section-servicios .box-content .box-item img{
    width: 90px;
}
.page-fichesp .section-servicios .box-content .box-item p{
    width: 150px;
    margin: auto;
    color: #0085b2;
    padding-top: 10px;
}
/* ************************ */
/*        CONTACTANOS       */
/* ************************ */
.page-contacto .box-notificacion .alert.alert-success{
    background-color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.page-contacto .box-notificacion .alert.alert-danger{
    background-color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    color: red;
}
.page-contacto .section-portada{
    margin-top: 140px;
    /*background-color: #0085b2;*/
    /*padding-top: 60px;*/
    position: relative;
}
.page-contacto .section-portada .img-portada {
    position: relative;
}
.page-contacto .section-portada .texto-portada{
    position: absolute;
    bottom: 0;
    right: 10%;
    padding-bottom: 60px;
}
.page-contacto .section-portada .texto-portada h1{
    font-size: 60px;
    font-weight: bold;
    color: #0085b2;
}
.page-contacto .section-portada .img-portada .bg-portada{
    background-image: url(../images/portada-contactos.jpg);
    background-size: cover;
    width: 100%;
    height: 340px;
}

.page-contacto .section-contacto{
    padding: 10rem;
    display: flex;
    align-items: center;
}
.page-contacto .section-contacto .box-content-img{
    border-right: 3px solid #005eaa;
}
.page-contacto .section-contacto .box-form{
    padding-left: 8rem;
    padding-right: 14rem;
}
.page-contacto .section-contacto .box-form .box-header h3{
    font-weight: bold;
    color: #003d7e;
    font-size: 30px;
}
.page-contacto .section-contacto .box-form .box-header small{
    font-size: 26px;
    display: block;
    line-height: 1;
    color: #00a0bd;
}
.page-contacto .section-contacto .box-form .box-form-detail{
    padding: 2.5rem 0;
}
.page-contacto .section-contacto .box-form .box-form-detail label{
    font-weight: 500;
    color: #003d7e;
    font-size: 15px;
}
.page-contacto .section-contacto .box-form .box-form-detail input{
    background-color: #ededed;
    border: unset;
    box-shadow: unset;
    border-radius: 0 8px;
}
.page-contacto .section-contacto .box-form .box-form-detail textarea{
    background-color: #ededed;
    border: unset;
    box-shadow: unset;
    border-radius: 0 8px;
}
.page-contacto .section-contacto .box-form .box-action button{
    margin: auto;
    display: block;
    width: 260px;
}
/* ************************* */
/*            BLOG           */
/* ************************* */
.page-blog .section-portada{
    margin-top: 140px;
    /*background-color: #0085b2;*/
    /*padding-top: 60px;*/
    position: relative;
}
.page-blog .section-portada .box-arrow{
    position: absolute;
    z-index: 2;
    top: 40%;
}
.page-blog .section-portada .box-arrow.box-right-arrow{
    right: 0;
}
.page-blog .section-portada .img-portada {
    position: relative;
}
.page-blog .section-portada .texto-portada{
    position: absolute;
    bottom: 30%;
    top: 30%;
    left: 10%;
    right: 10%;
}
.page-blog .section-portada .action-portada{
    position: absolute;
    top: 70%;
    left: 45%;
    right: 45%;
    text-align: center;
}
.page-blog .section-portada .action-portada a{
    width: 100%;
    background-color: white;
    font-weight: bold;
    color: #005b8c;
}
.page-blog .section-portada .texto-portada h1{
    font-size: 48px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.page-blog .section-portada .img-portada .bg-portada{
    background-image: url(../images/portada-blog.jpg);
    background-size: cover;
    width: 100%;
    height: 410px;
    background-position: 0 20%;
}
.page-blog .section-listentries{
    padding: 10rem 0;
}
.page-blog .section-listentries .pre-item {
    margin-bottom: 30px;
    height: 350px;
}
.page-blog .section-listentries .pre-item a{
    color: unset;
}
.page-blog .section-listentries .item-blog{
    position: relative;
}
.page-blog .section-listentries .item-blog img{
    padding: 0 3rem;
}
.page-blog .section-listentries .item-blog-foot{
    padding: 0 3rem;
}
.page-blog .section-listentries .item-blog-foot h4{
    font-weight: bold;
    font-size: 16px;
    color: #004d91;
    height: 34px;
}
.page-blog .section-listentries .item-blog-foot small{
    color: #949494;
    margin-bottom: 1rem;
    display: block;
}
.page-blog .section-listentries .item-blog .box-hovered{
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    visibility: hidden;
    transition-property: color, background-color, display;
    transition-duration: .25s;
    transition-timing-function: linear;
    left: 3rem;
    right: 3rem;
}
.page-blog .section-listentries .item-blog:hover .box-hovered{
    display: flex;
    background-color: rgba(0,38,178,.5);
    flex-wrap: wrap;
    justify-content: center;
    visibility: visible;
    align-items: center;
}
.page-blog .section-listentries .item-blog .box-hovered .btn{
    background-color: white;
    font-weight: bold;
    color: #004c94;
    border-radius: 2rem;
}
.page-blog .section-listentries .cont-entries-paginate{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    border-top: 1px solid #e0e0e0;
}
.page-blog .section-listentries .cont-entries-paginate .box-item-paginate{
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem 0 0;
    border: 1px solid #00569a;
    border-radius: 10px 0;
    cursor: pointer;
    background-color: #00569a;
    color: white;
}
/* ************************* */
/*        FICHA BLOG         */
/* ************************* */
.page-fichablog .section-portada{
    margin-top: 140px;
    position: relative;
}
.page-fichablog .section-portada .img-portada {
    position: relative;
}
.page-fichablog .section-portada .img-portada .bg-portada{
    background-image: url(../images/portada-contactos.jpg);
    background-size: cover;
    width: 100%;
    height: 175px;
}
.page-fichablog .section-entrie{
    padding: 4rem 0;
    /*padding: 4rem 0 4rem 14rem;*/
}
.page-fichablog .section-entrie .box-body{
    padding: 4rem 0 4rem 14rem;
    display: flex;
}
.page-fichablog .section-entrie .box-header-entrie{
    /*padding-bottom: 4rem;*/
    padding: 0 15rem;
}
.page-fichablog .section-entrie .box-header-entrie h1{
    text-align: center;
    font-weight: bold;
    color: #00488d;
    font-size: 5rem;
}
.page-fichablog .section-entrie .box-header-entrie small{
    color: #02a0c3;
    font-size: 1.6rem;
}

.page-fichablog .section-entrie .box-contenido{
    font-size: 2rem;
}
.page-fichablog .section-entrie .box-autor{
    display: flex;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
}
.page-fichablog .section-entrie .box-autor .box-autor-foto{
    border-radius: 50%;
    min-width: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #ededed;
    z-index: 1;
}
.page-fichablog .section-entrie .box-autor .box-autor-foto img{
    border-radius: 50%;
    width: 90%;
}
.page-fichablog .section-entrie .box-autor .box-info{
    width: 100%;
    display: inline;
    padding: 3.25rem 5rem 3.25rem 8rem;
    background-color: #ededed;
    margin-left: -6rem;
    border-radius: 2rem;
    position: relative;
}
.page-fichablog .section-entrie .box-autor .box-info h3{
    color: #00488d;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 26px;
}
.page-fichablog .section-entrie .box-autor .box-info small{
    color: #02a0c3;
}
.page-fichablog .section-entrie .box-interes-right{
    padding: 3rem;
    background-color: #e5f4f8;
    border-radius: 15px 0;
    margin-left: 8rem;
}
.page-fichablog .section-entrie .box-interes-right .box-header-interes{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #00488d;
}
.page-fichablog .section-entrie .box-interes-right iframe{
    max-width: 80%;
    height: 225px;
    border-radius: 15px;
}
.page-fichablog .section-entrie .box-interes-right h2{
    font-size: 18px;
    color: #00488d;
    margin-bottom: 5px;
}
.page-fichablog .section-entrie .box-interes-right small{
    color: #02a0c3;
}
.page-fichablog .section-entrie .box-interes-right .box-comentario{
    margin-top: 2.5rem;
}
.page-fichablog .section-entrie .box-interes-right .box-comentario .box-header-comentario{
    text-align: center;
}
.page-fichablog .section-entrie .box-interes-right .box-comentario .box-header-comentario h3{
    margin-top: 0;
    color: #00488c;
    font-weight: bold;
}
.page-fichablog .section-entrie .box-interes-right .box-comentario .box-form-comentario textarea,
.page-fichablog .section-entrie .box-interes-right .box-comentario .box-form-comentario input{
    border: 0;
}
.page-fichablog .section-entrie .box-interes-right .box-comentario .box-form-comentario label{
    font-weight: 400;
}
.page-fichablog .section-entrie .box-interes-right .box-comentario .box-form-comentario .box-action{
    text-align: center;
}
.page-fichablog .section-entrie .box-interes-right .box-comentario .box-form-comentario .box-action button{
    border-radius: 1.5rem;
    margin-top: 2rem;
}
.page-fichablog .section-interes .box-title h2{
    margin: 4rem 0;
    text-align: center;
    color: #00488d;
    font-weight: bold;
    font-size: 3.5rem;
}
.page-fichablog .section-interes .pre-item {
    margin-bottom: 30px;
    height: 350px;
}
.page-fichablog .section-interes .pre-item a{
    color: unset;
}
.page-fichablog .section-interes .item-blog{
    position: relative;
    padding: 0 3rem;
}
.page-fichablog .section-interes .item-blog img{
    border-radius: 150px 0;
}
.page-fichablog .section-interes .item-blog-foot{
    padding: 0 3rem;
}
.page-fichablog .section-interes .item-blog-foot h4{
    font-weight: bold;
    font-size: 16px;
    color: #004d91;
    height: 34px;
}
.page-fichablog .section-interes .item-blog-foot small{
    color: #949494;
    margin-bottom: 1rem;
    display: block;
}
.page-fichablog .section-interes .item-blog .box-hovered{
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    visibility: hidden;
    transition-property: color, background-color, display;
    transition-duration: .25s;
    transition-timing-function: linear;
    left: 3rem;
    right: 3rem;
}
.page-fichablog .section-interes .box-item:hover img{
    border-radius: 15px 0;
}
.page-fichablog .section-interes .box-item:hover .box-hovered{
    display: flex;
    background-color: rgba(0,38,178,.5);
    flex-wrap: wrap;
    justify-content: center;
    visibility: visible;
    align-items: center;
    border-radius: 15px 0;
}
.page-fichablog .section-interes .item-blog .box-hovered .btn{
    background-color: white;
    font-weight: bold;
    color: #004c94;
    border-radius: 2rem;
}
/* ************************* */
/*        FICHA SERV.        */
/* ************************* */
.page-fichserv .section-portada{
    margin-top: 140px;
    position: relative;
}
.page-fichserv .section-portada .img-portada {
    position: relative;
}
.page-fichserv .section-portada .texto-portada{
    position: absolute;
    bottom: 0;
    right: 10%;
    padding-bottom: 60px;
}
.page-fichserv .section-portada .texto-portada h1{
    font-size: 60px;
    font-weight: bold;
    color: #0085b2;
}
.page-fichserv .section-portada .img-portada .bg-portada{
    background-image: url(../images/portada-servicios.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
}
.page-fichserv .section-detalle .box-celeste{
    width: 94%;
    float: right;
    height: 480px;
    background-color: #c2d9e8;
    border-radius: 100px 0 0 0;
    margin-top: 4rem;
    padding: 4rem 8rem;
}
.page-fichserv .section-detalle .box-celeste h2{
    margin: 0;
    font-weight: bold;
    color: #004791;
    font-size: 36px;
}
.page-fichserv .section-detalle .box-imagen{
    position: relative;
    text-align: center;
}
.page-fichserv .section-detalle .box-imagen img{
    border-radius: 40px 0;
    margin-top: -24%;
    width: 75%;
}
.page-fichserv .section-detalle .box-description{
    width: 75%;
    margin: auto;
    display: flex;
    padding-top: 7.5rem;
    padding-bottom: 4rem;
}
.page-fichserv .section-detalle .box-description .box-letras{
    font-size: 18px;
}
.page-fichserv .section-detalle .box-como-acceder{
    width: 75%;
    margin: auto;
}
.page-fichserv .section-detalle .box-como-acceder .box-letras h2{
    color: #0085b2;
    font-weight: bold;
}
.page-fichserv .section-detalle .box-como-acceder .box-letras p{
    font-size: 18px;
    margin-bottom: 5rem;
}
.page-fichserv .section-detalle .box-video{
    text-align: center;
}
.page-fichserv .section-detalle .box-video iframe{
    width: 90%;
}
.page-fichserv .section-mas-servicios{
    padding-top: 5rem;
}
.page-fichserv .section-mas-servicios h2{
    font-weight: bold;
    color: #004791;
    font-size: 32px;
    padding-bottom: 3.5rem;
}
.page-fichserv .section-mas-servicios .owl-buttons .owl-prev{
    position: absolute;
    left: -30px;
    top: 33%;
}
.page-fichserv .section-mas-servicios .owl-buttons .owl-next{
    position: absolute;
    right: -30px;
    top: 33%;
}
.page-fichserv .section-mas-servicios .owl-buttons svg{
    font-size: 45px;
    color: #0085b2;
}
.page-fichserv .section-mas-servicios .box-item p{
    color: #0085b2;
    font-size: 18px;
    margin-top: 15px;
}
/* ************************* */
/*  MODAL PERFIL DEL MEDICO  */
/* ************************* */
.box-modal-perfil{
    width: 60%;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 220;
    background-image: url('../images/fondo-perfil-medico-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -4px -1px 10px 2px rgba(70, 70, 70, 0.34);
    -webkit-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -moz-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -o-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -ms-transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: right 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99), top 1000ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
}
.box-modal-perfil.out{
    /*visibility: hidden;*/
    right: -60%;
}
.box-modal-perfil.in{
    right: 0;
}
.box-modal-perfil .box-close.close-icon{
    /*background-color: #002661;*/
    border-color: #002661;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
}
.box-modal-perfil .box-close.close-icon .line{
    border-color: #002661;
}
.box-modal-perfil .box-close.close-icon:hover{
    background-color: #002661;
}
.box-modal-perfil .box-close.close-icon:hover .line{
    border-color: white;
}
.box-modal-perfil .box-perfil-medico{
    margin: 45px;
    color: #00488d;
    display: flex;
}
.box-modal-perfil .box-perfil-medico .box-present{
    padding-top: 6px;
}
.box-modal-perfil .box-perfil-medico h3{
    font-size: 22px;
    font-weight: 700;
}
.box-modal-perfil .box-perfil-medico .box-present h2{
    font-weight: 700;
}
.box-modal-perfil .box-perfil-medico .box-present .box-present-detail{
    margin-bottom: 10px;
}
.box-modal-perfil .box-perfil-medico .box-present .box-present-detail dl{
    display: flex;
    margin-bottom: 2px;
}
.box-modal-perfil .box-perfil-medico .box-present .box-present-detail dl dt {
    width: 120px;
}
.box-modal-perfil .box-perfil-medico .box-present .box-present-lema{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
}
.box-modal-perfil .box-perfil-medico .box-horario{
    border-bottom: 2px solid;
    padding-bottom: 16px;
}
.box-modal-perfil .box-perfil-medico .box-horario dl{
    display: flex;
    margin-bottom: 2px;
}
.box-modal-perfil .box-perfil-medico .box-horario dl dt {
    width: 120px;
}
.box-modal-perfil .box-perfil-medico .box-horario dl dt img{
    width: 16px;
    margin-right: 4px;
}
.box-modal-perfil .box-perfil-medico .box-foto-perfil{
    width: 70%;
}
.box-modal-perfil .box-perfil-medico .box-foto-perfil img{
    max-width: 460px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ******** */
/*  FOOTER  */
/* ******** */
.section-footer{ 
    background-color: #0085b2;
    padding: 90px 0 50px;
    color: white;
}
.section-footer .form-suscripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.section-footer .form-suscripcion .form-header{
    padding-right: 40px;
}
.section-footer .form-suscripcion .form-group{
    flex: 1;
    display: flex;
    margin-bottom: -15px;
}
.section-footer .form-suscripcion .form-group label{
    position: absolute;
    bottom: -12px;
    color: #9e0101;
}
.section-footer .form-suscripcion .form-group input{
    background-color: #00a9ca;
    border-radius: 15px 0 0 0;
}
.section-footer .form-control::-webkit-input-placeholder {
    color: white;
}
.section-footer .form-suscripcion .form-group button{
    background-color: #014d90;
    border-radius: 0 0 15px 0;
}
.section-footer .form-suscripcion .form-group button:hover{
    color: white;
}
.section-footer .box-suscripcion{
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
}
.section-footer .box-suscripcion h3{
    font-weight: bold;
    margin-bottom: 0;
    font-size: 26px;
}
.section-footer .box-suscripcion p{
    font-size: 16px;
}
.section-footer .box-contacto{
    display: flex;
    flex-wrap: wrap;
}
.section-footer .box-contacto > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}
.section-footer .box-contacto .box-icon{
    margin-right: 35px;
}
.section-footer .box-contacto .box-telefono .box-value{
    font-size: 22px;
}
.section-footer .box-contacto .box-telefono .box-item{
    margin-bottom: 15px;
}
.section-footer .box-contacto .box-icon img{
    width: 48px;
}
.section-footer .box-redes .box-item a{
    background-color: white;
    border-radius: 0 20px;
    margin-right: 8px;
}
.section-footer .box-redes .box-item svg{
    color: #0085b2;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.section-footer .box-redes .box-item .btn-fb svg:hover{
    color: #3b5998;
}
.section-footer .box-redes .box-item .btn-yt svg:hover{
    color: #cd201f;
}
.section-footer .box-redes .box-item .btn-ig svg:hover{
    color: #3f729b;
}
.section-post-footer{
    padding: 16px 150px;
    background-color: #036180; 
    display: flex;
    color: white;
}
.section-post-footer .box-autor{
    flex-grow: 1;
    text-align: right;
}

/* helpers */
.-turquesa-bg{
    background-color: #0085b2;
}